<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vueApp</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <!-- 
        总结：
            1.Vue会监视data中所有层次的数据

            2.如何监测对象中的数据？
                通过setter实现监视，且要在new Vue时就传入要监测的数据
                    （1）对象中后加的属性，Vue默认不做响应式处理
                    （2）如需给后添加的属性做相应式，则需使用如下API：
                            Vue.set(target,propertyName/index,value)或
                            vm.$set(target,propertyName/index,value)
            
            3.如何监测数组中的数据？
                通过包裹数组更新元素的方法实现，本质就是做了两件事：
                    （1）调用原生对应的方法对数组进行更新
                    （2）重新解析模板，进而更新页面
            
            4.在Vue修改数组中的某个元素一定要使用下列方法：
                1.使用如下会改变原数组的API：push(),shift(),unshift(),splice(),sort(),reverse()
                2.Vue.set()或vm.$se()

            注意：Vue.set()和vm.set()不能给vm或vm根数据对象（data）添加属性
     -->
    <!-- 准备一个容器 -->
    <div id="root">
        <!-- 遍历数组 -->
        <h1>学生信息</h1>

        <button @click="student.age++">年龄+1岁</button><br>
        <button @click="addSex">添加性别属性，默认男</button><br>
        <button @click="changeSex">修改性别</button><br>
        <button @click="addFriend">在列表首位添加一位朋友</button><br>
        <button @click="changeFN">修改第二个朋友的名字为李四</button><br>
        <button @click="addHobby">添加一个爱好</button><br>
        <button @click="changeHobby">修改第一个爱好为开车</button><br>

        <h3>姓名:{{student.name}}</h3>
        <h3>年龄:{{student.age}}</h3>
        <h3 v-if='student.sex'>性别:{{student.sex}}</h3>
        <h3>爱好</h3>
        <ul>
            <li v-for='(h,index) in student.hobby' :key='index'>
                {{h}}
            </li>
        </ul>
        <h3>朋友们</h3>
        <ul>
            <li v-for='(f,index) in student.friends' :key='index'>
                {{f.name}}-{{f.age}}
            </li>
        </ul>
    </div>
    <script>
        Vue.config.productionTip = false;//防止启动Vue时产生生产提示

        const vm=new Vue({
            el:'#root',
            data:{
                student:{
                    name:'王刚',
                    age:18,
                    hobby:['抽烟','喝酒','烫头'],
                    friends:[
                        {name:'张三',age:18},
                        {name:'里斯',age:30},
                    ]
                }
            },
            methods: {
                addSex(){
                    Vue.set(this.student,'sex','男');
                },
                changeSex(){
                    this.student.sex=this.student.sex==='男'?'女':'男';
                },
                addFriend(){
                    this.student.friends.unshift({name:'罗翔',age:45});

                },
                changeFN(){
                    // Vue.set(this.student.friends[1],'name','李四');
                    this.student.friends[1].name='李四'
                },
                addHobby(){
                    this.student.hobby.push("学习");                   
                },
                changeHobby(){
                    // this.student.hobby.splice(0,1,"开车");
                    // Vue.set(this.student.hobby,0,'开车');
                    this.$set(this.student.hobby,0,'开车');
                }
            },
        })
    </script>
</body>

</html>